<div ng-controller="tabController">
    
    <div class="btn-group margin-left" >
          <button type="button" class="btn" 
          ng-class="{'btn-primary ': isActive('Legende')}" ng-click="setActive('Legende')">Legende</button>
          <button type="button" class="btn" 
          ng-class="{'btn-primary ': isActive('Meldingen')}" ng-click="setActive('Meldingen')">Meldingen</button>
    </div>
    <hr/>
    
    <div ng-show="isActive('Legende')" >
        <legende ></legende>
    </div>

    <div ng-show="isActive('Meldingen')" >
        <div ng-hide="creatingEvent" >

            <events ></events>
            <a href="" class="margin-left margin-top"
                    ng-click="creatingEvent = true" >Nieuwe melding</a>

        </div>
        
        <div ng-show="creatingEvent" class="margin-left margin-top" >
            <h4>Nieuwe Melding</h4>
            <p>Bepaal de locatie aan de hand van: </p>
            <p> <button type="button" ng-click="forMyPosition()" class="margin-right">
                <span class="fa fa-crosshairs" ></span> De GPS-locatie</button> </p>
            <p> <button type="button" ng-click="positionFromMap()" class="margin-right" >
                <span class="fa fa-map-marker" ></span> Prikken op kaart</button> </p>
            <hr/>
            <p>  <button type="button"  ng-click="cancel()" class="margin-right" >
                <span class="fa fa-times-circle" ></span> Cancel</button> </p>
        </div>
    </div>
    
</div>