<div ng-controller="tabController">
    
    <div class="btn-group margin-left" >
          <button type="button" class="btn" 
          ng-class="{'btn-primary ': isActive('Legende')}" ng-click="setActive('Legende')">Legende</button>
          <button type="button" class="btn" 
          ng-class="{'btn-primary ': isActive('Meldingen')}" ng-click="setActive('Meldingen')">Meldingen</button>
    </div>
    <hr/>
    
    <div ng-show="isActive('Legende')" >
        <legende ></legende>
    </div>

    <div ng-show="isActive('Meldingen')" >
        <div ng-hide="creatingEvent" >
            <events ></events>    
            <button type="button" class="btn-info margin-left margin-right" 
                    ng-click="createEvent()" >Nieuwe melding</button>
        </div>
        
        <div ng-show="creatingEvent" class="margin-left" >
            <p>Bepaald de  aan de hand van: </p>
            <button type="button" ng-click="forMyPosition()" class="margin-right">
                <span class="fa fa-crosshairs" ></span> GPS-locatie</button>
            <button type="button" ng-click="positionFromMap()" class="margin-right" >
                <span class="fa fa-map-marker" ></span> Prik op kaart</button>
            <hr/>
            <button type="button"  ng-click="cancel()" class="margin-right" >
                <span class="fa fa-times-circle" ></span> Cancel</button>
        </div>
    </div>

    
</div>