<!DOCTYPE html>
<html  class="has-nav-left">
  <head>
    <title>Crowdsource Client</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/bower.css" />
    <link rel="stylesheet" href="css/app.css" /> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.css" /> 
    <style type="text/css">
      .main {
        height: -moz-calc(100% - 60px);
        height: calc(100% - 60px);
      }
      
      #map { height: 100% }

      hr {
          margin-top: 0.42em;
          margin-bottom: .42em;
      }
      #sideNavLeft {
          overflow: auto;
      }
      
      .zoomto-geoloc {
        top: 70px;
        left: .5em;
      }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js" ></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/bower.js"></script>
  
  </head>
  <body ng-app="myApp" ng-controller="MainController" >

  <!--Navbar on top-->
  <nav data-tink-top-nav="" class="nav-top">
    <ul class="nav-top-branding">
        <li>
          <a href="#" title=""><img src="images/flgov.png" ></a>
        </li>
        <li class="nav-top-toggle" data-tink-sidenav-collapse="sideNavLeft" onclick="app.sideNav.toggleMenu()" >
          <a href="" title="Open menu" ><i class="fa fa-bars"><span class="sr-only">Open menu</span></i></a>
        </li>
        <li class="nav-top-app">
          <h1><a href="#/" title="">{{mainTitle}}</a></h1>
        </li>
    </ul>
    <ul class="nav-top-center">
       <li>
          <div class="select" >
             <select ng-model="activeTool" ng-change="toolchange()" >
                <option ng-repeat="tool in tools"  value="{{tool.id}}">{{tool.name}}</option>
             </select>
          </div>
       </li>
    </ul>
  </nav>
  <!--/Navbar on top-->

  <!--Sidebar to left-->
  <aside data-tink-nav-aside="" data-tink-accordion="true" data-tink-toggle-id="sideNavLeft"
         class="nav-aside nav-left" id="sideNavLeft" >
    <div class="nav-aside-section">
     
      <tabs></tabs>

    </div>
  </aside>
  <!--/Sidebar to left-->
  
  <!--Central window-->
  <div class="main" role="main" data-autoscroll="true">
      <div id="map"></div>
  </div>  
  <!--/Central window-->
    
  <script src="js/app.js"></script>
  </body>
</html>
